
        html {
            scroll-behavior: smooth;
        }

        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            background-color: rgb(199, 194, 194);
            scroll-behavior: smooth;
            transition:2s;
        }

        .header {
            background-color: rgb(155, 107, 19);
            height: 45px;
            border: 2px inset black;
        }
       .container{
        Overflow:hidden
}

        h1 {
            font-weight: 400;
            font-variant: small-caps;
            color: white;
            font-style: oblique;
            text-rendering: optimizeSpeed;
            letter-spacing: 2px;
            word-spacing: 16px;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.25), 6px 6px 6px rgba(0, 0, 0, 0.25), 8px 8px 8px rgba(0, 0, 0, 0.25);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        h2 {
            position: relative;
            left: 8px;
            top: 10px;
            /*text-indent: 40px;*/
            font-size: larger;
            font-family: monospace;
            background-color: rgb(170, 118, 21);
            color: white;
            text-shadow: 2px 2px 2px black, 6px 6px 6px rgba(0, 0, 0, 0.25);
            text-align: center;
            border-radius: 20px;
            width: 300px;
            padding: 3px;
            border: 1px outset black;
        }

        #music {
            font-size: 24px;
            position: relative;
            right: 6px;
            color: wheat;
        }

        #music2 {
            color: wheat;
            position: relative;
            right: 7px;
        }

        #hindi {
            width: 200px;
            height: 180px;
            position: relative;
            left: 20px;
            border: 1px outset black;
            background-color: rgb(197, 137, 26);
            border-radius: 4px;
        }

        audio {
            position: relative;
            top: 50px;
            height: 30px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            background-color: black;
            width: 196px;
        }

        .container2 {
            display: flex;
            justify-content: space-evenly;
        }

        .hbtn {
            position: relative;
            top: 50px;
            left: 5px;
            width:95%;
        }

        @media screen and (max-width:480px) {

            html,
            body {
                width: 100%;
                height: 100%;
                padding: 0;
                scroll-behavior: smooth;
                margin: 0;
                overflow-x: hidden;
            }

            .header {
                width: 100%;
            }

            h1 {
                width: 85%;
                font-size: x-large;
            }

            .container {
                width: 100%;
                padding-right: 230px;
                overflow-x: hidden;
            }

            .container2 {
                visibility: visible;
                display: block;
                width: 100%;
                padding: 0;
                margin-right: 200px;
            }

            hr {
                width: 100%;

            }

            h2 {
                width: 60%;
            }

            audio {
                position: absolute;
                top: 4px;
                margin-left: 4px;
            }

            table {
                visibility: hidden;
            }

            #hindi {
                height: 70px;
                width: 210px;
                padding: 10px;
                margin: 20px;
            }

            div#hindi li {
                visibility: visible;
                background-color: aliceblue;
                text-align: center;
                color: black;
                box-shadow: 10px 10px 10px khaki inset;
                font-weight: 500;
                font-family: cursive;
                cursor: pointer;
            }

            .hbtn {
                position: absolute;
                top: 42px;
                width: 85%;
                left: 20px;
            }

            .nav {
                width: 16rem;
                display: flex;
                justify-content: space-evenly;

            }

            a#fixed {
                visibility: visible;
                position: fixed;
                left: 290px;
                top: 615px;

            }

            a#fixed2 {
                visibility: visible;
                position: fixed;
                left: 290px;
                top: 643px;
            }
          div input#mode{
           display:flex;
           position: relative;
           left: 105%;
         
            }
        #d-m{
                position: relative;
               display: flex;
               justify-content: flex-end;
               bottom: 18px;
               right: 112px;
               left: 4px;
               color: black;
               text-shadow: 2px 5px 10px white;
               font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            .header #d-m{
                font-size: 7pt;
                position: relative;
                top: -30px;
                left: -5px;
                letter-spacing: 0;
            }
            a{
                background-color: silver;
            }

        }

        a {
            position: relative;
            left: 26px;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.85);
        }

        a:hover {
            text-decoration: underline;
            color: black;
        }

        button {
            border: 1px outset black;
        }

        button:hover {
            border: 1.6px outset wheat;
            background-color: black;
            box-shadow: 0px 0px 0px darkgoldenrod, 2px 2px 2px darkgoldenrod;
            direction: rtl;
            color: white;
            cursor: pointer;
            font-size: medium;
        }

        a:hover {
            background-color: black;
            color: white;
            border: 1px inset white;
        }

        li {
            visibility: hidden;
        }

        h3 {
            visibility: hidden;
        }

        .nav {
            display: flex;
            justify-content: space-around;
        }

        #fixed {
            visibility: hidden;
            position: fixed;
        }

        #fixed2 {
            visibility: hidden;
            position: fixed;
        }
        #mode{
           position: relative;
           left: 35%;   
        }
        #d-m{
            left: 86%;
            position: relative;
            bottom: 22px;
           color: black;
           font-size: medium;
           font-weight: bold;
           font-family: Arial, Helvetica, sans-serif;
           letter-spacing: 1px;
           word-spacing: 1px;
        }
        a{
            background-color: silver;
        }
    
